*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
**/build
**/target
**/node_modules
**/dist
/captures
.externalNativeBuild
.cxx
local.properties
.llm
.kotlin
libgadget.so
libgadget.script.so