<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service
            android:name=".tool.NetworkService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.penumbraos.mabl.sdk.action.TOOL_SERVICE" />
            </intent-filter>

            <meta-data
                android:name="com.penumbraos.mabl.sdk.metadata.DISPLAY_NAME"
                android:value="Network Tool Service" />
            <meta-data
                android:name="com.penumbraos.mabl.sdk.metadata.DESCRIPTION"
                android:value="Tool that provides access to device network information" />
        </service>
        <service
            android:name=".tool.VolumeService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.penumbraos.mabl.sdk.action.TOOL_SERVICE" />
            </intent-filter>

            <meta-data
                android:name="com.penumbraos.mabl.sdk.metadata.DISPLAY_NAME"
                android:value="Volume Tool Service" />
            <meta-data
                android:name="com.penumbraos.mabl.sdk.metadata.DESCRIPTION"
                android:value="Tool that provides volume manipulation" />
        </service>
    </application>

</manifest>